<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
	<Appenders>
		<Console name="jsonConsole" target="SYSTEM_OUT">
			<JsonTemplateLayout EventTemplateUri="classpath:GcpLayoutStructured.json" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="jsonConsole" />
		</Root>
       <Logger name="org.reflections.Reflections" level="error" additivity="false"/>
       <Logger name="org.apache.kafka.connect.runtime.isolation.DelegatingClassLoader" level="warn" additivity="false"/>
	</Loggers>
	
</Configuration>