<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" packages="com.fnz.logging.structured">
    <Appenders>
        <Console name="jsonConsole" target="SYSTEM_OUT">
            <JsonTemplateLayout EventTemplateUri="classpath:GcpLayoutStructured.json" />
        </Console>


		<Console name="console">
			<!--
			production reduce logging with 
			<BurstFilter level="WARN" rate=".2" maxBurst="10"/>
			 -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%level] %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="fileLog" fileName="log/ibmi.log"
			filePattern="./log/archive/ibmi.log-%d{yyyy-MM-dd}.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] [%level] %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
		</RollingFile>
	</Appenders>

	<Loggers>
		<Logger name="io.debezium.connector.db2as400.As400StreamingChangeEventSource" level="debug"/>
		<Logger name="org.reflections.Reflections" level="error" additivity="false"/>
		<Logger name="org.apache.kafka.connect.runtime.isolation.DelegatingClassLoader" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.clients.admin.AdminClientConfig" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.connect.runtime.distributed.DistributedConfig" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.connect.runtime.SourceConnectorConfig" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.connect.runtime.ConnectorConfig$EnrichedConnectorConfig" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.clients.producer.ProducerConfig" level="warn" additivity="false"/>
		<Logger name="org.apache.kafka.clients.consumer.ConsumerConfig" level="warn" additivity="false"/>
		<Logger name="io.confluent.kafka.serializers.KafkaAvroDeserializerConfig" level="warn" additivity="false"/>
		<Logger name="io.confluent.kafka.serializers.KafkaAvroSerializerConfig" level="warn" additivity="false"/>
		<Logger name="io.confluent.connect.avro.AvroConverterConfig" level="warn" additivity="false"/>
	     
		<Root level="info">
			<AppenderRef ref="jsonConsole" />
		</Root>
	</Loggers>
</Configuration>
